{% extends 'layout.html' %}

{% block content %}
<h1>Play Sudoku - {{ difficulty|capitalize }}</h1>
<p>This is where the Sudoku game will be played.</p>

<div id="grid-container">
    {% for i in range(9) %}
        {% for j in range(9) %}
            {% set index = i*9 + j %}
            {% set value = sudoku[index] %}
            {% if value == '.' %}
                <div class="grid-item">
                    <input id="{{ index }}" name="{{ index }}" type="text" maxlength="1" inputmode="numeric" pattern="[1-9]" class="txt-input" autocomplete="off">
                </div>
            {% else %}
                <div class="grid-item">
                    <input id="{{ index }}" name="{{ index }}" type="text" maxlength="1" pattern="[1-9]" class="txt-input" value="{{ value }}" readonly>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

<script>
    // JavaScript to validate input fields
    document.querySelectorAll('.txt-input').forEach(function(input) {
        input.addEventListener('input', function() {
            // Remove any non-digit characters
            this.value = this.value.replace(/[^1-9]/g, '');
        });
    });
</script>

{% endblock %}